<% include ../layout/header.ejs %>
<div class="header-top">
  <div class="wrap">
    <div class="logo">
      <%include ../page/Logo %>
    </div>
    <div class="cssmenu">
      <% include ../page/Menu %>
    </div>
    <div class="clear"></div>
  </div>
</div>
<%include ../page/Category %>
<div class="clear"></div>

<ul class="breadcrumb">
  <li>
    <a href="#">Trang chủ</a>
  </li>
  <li class="active">Danh mục</li>
</ul>

</div>
<div class="c-layout-sidebar-content ">
  <!-- BEGIN: PAGE CONTENT -->
  <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->


  <div class="c-margin-t-20"></div>
  <div class="row">
    <!-- BEGIN: CONTENT/SHOPS/SHOP-2-7 -->
    <% product.forEach(function(pro){  %>
    <div class="col-md-3 col-sm-6 c-margin-b-20">
      <div class="c-content-product-2 c-bg-white c-border">
        <div class="c-content-overlay">
          <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
          <div class="c-overlay-wrapper">
            <div class="c-overlay-content">
              <a href="/chi-tiet/<%= pro.nameKhongDau%>.<%= pro._id%>.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Xem
                thêm</a>
            </div>
          </div>
          <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 324px; background-image: url(upload/<%= pro.img %>);"></div>
        </div>
        <div class="c-info">
          <p class="c-title c-font-16 c-font-slim">
            <%= pro.name %>
          </p>
          <p class="c-price c-font-14 c-font-slim">
            <%= pro.price %>

          </p>
        </div>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group c-border-top" role="group">
            <a href="shop-product-wishlist.html" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Xem</a>
          </div>
          <div class="btn-group c-border-left c-border-top" role="group">
            <a href="/add-cart.<%=pro._id%>" class="btn btn-sm c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Thêm
              vào giỏ hàng</a>
          </div>
        </div>
      </div>
    </div>
    <% })%>
  </div>
</div><!-- END: CONTENT/SHOPS/SHOP-2-7 -->

<div class="c-margin-t-20"></div>

<ul class="c-content-pagination c-square c-theme pull-right">
  <li class="c-prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
  <li><a href="#">1</a></li>
  <li class="c-active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li class="c-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
</ul> <!-- END: PAGE CONTENT -->
</div>
</div>
</div>
<!-- END: PAGE CONTAINER -->

<!-- BEGIN: LAYOUT/FOOTERS/FOOTER-6 -->
<a name="footer"></a>
<script>
  $(document).ready(function() {
    App.init(); // init core
  });
</script>
<!-- END: THEME SCRIPTS -->

<!-- END: LAYOUT/BASE/BOTTOM -->
<script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '../../../../../www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-64667612-1', 'themehats.com');
  ga('send', 'pageview');
</script>

<% include ../layout/footer.ejs%>
